
<div >
  <div style="width:100%;float: left;margin-bottom: 20px;"  >
    <div style="width:20%;float: left;height:5px;">
    </div>

    <div style="width:60%;float: left; ">
      <p style="font-size: 20px;float: left;width: 100%;padding-left:10px;padding-top:30px ;font-weight: bolder;">Type delete and click on confirm</p>
      <input style="font-size: 20px;float: left;width: 100%;padding-left:10px;padding-top:0px ; " [(ngModel)]="confirmation">
      <button style="width: 80%; float: left; margin-top: 10px;margin-left: 10%;margin-right: 10%; " (click)="delete()">Confirm</button>
    </div>
  </div>

  </div>
  <app-spinner></app-spinner>
