.background-div {
  width: 100%;
  height: 93vh;
  // background-image: url("../../../assets/img/black-background-modern-dark-abstract-seamless-texture-vector.jpg");
  background-color: #010022;
  background-repeat: repeat; /* This will repeat the image both horizontally and vertically */
  padding-top: 200px;
}
.myrow{
  width: 100%;
}
.inputCom{
  background-color: white;
}
.inputCom:hover{
  background-color: rgb(192, 192, 192);
}

button{
  border-radius: 10px;
  padding: 10px 30px 10px 30px ;
  font-weight: bold;
  background-color:black ;
  color: white;
  width: 30%;
  margin-left: 35%;
}
button:hover{
    border-radius: 10px;
    padding: 10px 30px 10px 30px ;
    font-weight: bold;
    background-color:rgb(27, 27, 27) ;
    color: white;
    width: 30%;
    margin-left: 35%;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}
