
<app-header style="filter: drop-shadow(0 0 1rem rgb(90, 90, 90)); height: 5vh;"></app-header>
<div class="background-div" >
    <div style="width: 30%; background-color: white; height: 450px;  margin-left: 35%; border-radius: 15px;filter: drop-shadow(0 0 1rem rgb(255, 255, 255));">
      <div class="myrow">
        <img src="../../../assets/img/Alienware-Logo66.png" style="width: 20%;margin-left: 40%;">
      </div>
      <div class="myrow" style="padding: 20px;">
         <input type="text" style="width: 60%; margin-left: 20% ; text-align: center;" placeholder="ADMIN ID" class="inputCom">
      </div>
      <div class="myrow" style="padding: 20px;">
        <input type="password" style="width: 60%; margin-left: 20% ; text-align: center;" placeholder="KEYCODE" class="inputCom">
      </div>
      <div class="myrow" style="padding: 20px;">
        <button (click)="login()" >Login</button>
      </div>
    </div>

</div>
<app-footer style="filter: drop-shadow(0 0 1rem rgb(90, 90, 90)); height: 5vh;"></app-footer>
<app-spinner></app-spinner>
