button{
  border-radius: 10px;
  padding: 4px 10px 4px 10px ;
  font-weight: bold;
  background-color:black ;
  color: white;
  width: 30%;
  margin-left: 35%;
}
button:hover{
    border-radius: 10px;
    padding: 4px 10px 4px 10px ;
    font-weight: bold;
    background-color:rgb(27, 27, 27) ;
    color: white;
    width: 30%;
    margin-left: 35%;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}
